<div class="main">
    <div ng-include="'views/navigation.html'"></div>
    
    <div class="container">
        
        <h2>Kaikki vastaukset</h2>

        <div ng-init="getData()">
            <!--p ng-show='products.length === 0'>There are no products. Please add some product!</p-->
            <table class='table table-mouse-over table-striped'> <!--ng-show='products.length > 0'-->
                <thread>
                    <tr class="active">
                        <th>#</th>
                        <th>Nimi</th>
                        <th>Sähköposti</th>
                        <th>Kirjattu</th>
                    </tr>
                </thread>
                <tbody>
                    <!--check if there are still products left-->
                    <tr ng-repeat='person in lista' ng-click="getUserData(person._id)">
                        <td>{{$index+1}}</td>
                        <td>{{person.name}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.timestamp | date:'dd.MM.yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!--container-->
</div>