<div class="main">
    <nav class="navbar navbar-default" role="navigation">  <!-- navbar-default / navbar-inverse navbar-fixed-top -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="../images/bottom_logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container theme-showcase" role="main">

        <h2>Kaikki vastaukset</h2>

        <div>
            <!--p ng-show='products.length === 0'>There are no products. Please add some product!</p-->
            <table class='table table-striped'> <!--ng-show='products.length > 0'-->
                <thread>
                    <tr class="active">
                        <th>#</th>
                        <th>Nimi</th>
                        <th>Sähköposti</th>
                        <th>Kirjattu</th>
                    </tr>
                </thread>
                <tbody>
                    <!--check if there are still products left-->
                    <tr ng-repeat='product in products'>
                        <td>{{$index+1}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.email}}</td>
                        <td>{{product.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!--container-->
</div>