<div class="main">
    <div ng-include="'views/navigation.html'"></div>
    
    <!-- carousel -->
    <div class="container">
      <br>
        <div id="myCarousel" class="carousel slide carousel-sync" data-ride="carousel" data-wrap="false" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner"><!-- role="listbox"-->
                <div class="item active" ng-include src="'/views/pages/2_esitiedot.html'"></div>
                <div class="item" ng-include src="'/views/pages/3_taidot.html'"></div>
                <div class="item" ng-include src="'/views/pages/4_some.html'"></div>
                <div class="item" ng-include src="'/views/pages/5_itsetunto.html'"></div>
                <div class="item" ng-include src="'/views/pages/6_kunto.html'"></div>
                <div class="item" ng-include src="'/views/pages/7_pakki.html'"></div>
                <div class="item" ng-include src="'/views/pages/8_verkostoituminen.html'"></div>
                <div class="item" ng-include src="'/views/pages/9_tyonhaku.html'"></div>
                <div class="item" ng-include src="'/views/pages/1_yhteystiedot.html'"></div>
            </div>
        </div>
    </div>
</div>