<div class="main">
    <div ng-include="'views/navigation.html'"></div>
    
    <div class="container">
        <div class='col-md-5'>
            
            <div class="panel-group" id="accordion">
                <div class="panel panel-red">
                    <div class="panel-heading">
                         <h4 class="panel-title">Kirjaudu</h4>
                    </div>
                    <div class="panel-body">
                        <form role="form" name='kartoitusForm' ng-submit="user.login()">
                            <div class="form-group">
                                
                                <label for="name">Käyttäjätunnus</label>
                                <input type="text" id="username" class="form-control" ng-model='user.username' required autofocus>
                                
                                <label for="password">Salasana</label>
                                <input type="password" id="password" class="form-control" ng-model='user.password' required>
                                <br>
                                <span>
                                    <input type="submit" class="btn btn-danger" value="Login" />
                                </span>
                            </div>
                            <p ng-show='error'>{{error}}</p>
                        </form>
                    </div>
                </div>
                
            </div>
        </div><!--col-md-5-->
    </div><!--container-->
</div>

