<div class="main">
    <div ng-include="'views/navigation.html'"></div>
    
    <div id="wrap">
        <div class="container">
            <div class="jumbotron">
              <h2>TyönhakuPRO-valmennuksen osaamiskartoitus</h3>
                <p>Tervetuloa täyttämään TyönhakuPRO-valmennuksen osaamiskartoitusta. Vastauksiesi perusteella sinulle tullaan  
                    ehdottamaan TyönhakuPRO-valmennuksen ryhmää keväälle 2015. Saat yhteydenoton Opiframe Oy:n työntekijöiltä 
                    sähköpostitse, missä on toimintaohjeet valmennukseen osallistumista varten. </p>
                <p>
                    TyönhakuPRO-valmennukset järjestetään yhteistyössä Pohjois-Pohjanmaan TE-palvelujen kanssa. 
                </p>
              <p><a class="btn btn-danger btn-lg" href="form" role="button">Aloita</a></p>
            </div>
        </div>
    </div>
</div>

