<div class="main" ng-controller='NavController'>
    <nav class="navbar navbar-default" role="navigation">  <!-- navbar-default / navbar-inverse navbar-fixed-top -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="../images/bottom_logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!-- Check if we are logged in -->
            <!--ul class="nav navbar-nav">
                <li class="dropdown" ng-show="loggedIn === 'true'">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Valinnat <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin_all">Hae kaikki vastaukset</a></li>
                        <li><a href="/register">Rekisteröi uusi Admin</a></li>
                    </ul>
                </li>
            </ul-->
            <ul class="nav navbar-nav navbar-right" ng-show="loggedIn == 'true'">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Valinnat <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin_all">Hae kaikki vastaukset</a></li>
                        <li><a href="/register">Rekisteröi uusi Admin</a></li>
                        <li><a href="" ng-click="nav.logout()">Kirjaudu ulos</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"  ng-show="loggedIn !== 'true'">
                <!-- Check if we are logged in -->
                <li><a href="" ng-click="nav.login()">Kirjaudu</a></li>
                <!--li ng-show="$root.loggedInUser == null"><a href="" ng-click="nav.register()">Rekisteröi</a></li-->
                <!--li ng-show="loggedIn == 'true'"><a href="" ng-click="nav.logout()">Kirjaudu ulos</a></li-->
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>