<div class="main">
    <!--nav class="navbar navbar-default" role="navigation">
      <--div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="../images/bottom_logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
                        
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
      </div>
    </nav-->
    <div ng-include="'views/navigation.html'"></div>
    
    <div class="container">
        <div class='col-md-5'>
            
            <div class="panel-group" id="accordion">
                <div class="panel panel-red">
                    <div class="panel-heading">
                         <h4 class="panel-title">Rekisteröi uusi Admin</h4>
                    </div>
                    <div class="panel-body">
                        <form role="form" name='kartoitusForm' ng-submit="user.register()">
                            <div class="form-group">
                                
                                <label for="name">Käyttäjätunnus</label>
                                <input type="text" id="username" class="form-control" ng-model='user.username' required>
                                
                                <label for="password">Salasana</label>
                                <input type="password" id="password" class="form-control" ng-model='user.password' required>
                                <br>
                                <input type="submit" class="btn btn-danger" value="Rekisteröi" />
                            </div>
                            <p ng-show='user.showError'>Tunnus on jo käytössä. Kokeile jotakin muuta.</p>
                        </form>
                    </div>
                </div>
                
            </div>
        </div><!--col-md-5-->
    </div><!--container-->
</div>
