<div class="main">
    <div ng-include="'views/navigation.html'" ng-controller="NavController"></div>
    
    <div id="wrap">
        <div class="container">
            <div class="jumbotron">
              <h2>Kiitos! Tiedot on vastaanotettu.</h3>
                <p>Saat yhteydenoton Opiframe Oy:n henkilökunnalta sähköpostitse, missä on toimintaohjeet valmennukseen  
                    osallistumista varten. </p>
              <p><a class="btn btn-danger btn-lg" href="/" role="button">OK</a></p>
            </div>
        </div>
    </div>
</div>

